@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: 900;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    color: #0ccac4;
}